#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#sentimentPlot{
	position: absolute;
	margin-right: 100px;
	height: 400px;
	width: 400px;
	right: 550px;
	top: 100px
}

#sentimentid{
	position: absolute;
	right: 550px;
	top: 0px
}